name: CI/CD for Diabetes Prediction Web App

on:
  push:
    branches: [main]

jobs:
  train_and_evaluate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Train model
      run: python dia_ml.py

    - name: Evaluate model
      run: python evaluate_model.py

    - name: Upload model and metrics
      uses: actions/upload-artifact@v3
      with:
        name: model-and-metrics
        path: |
          diabetes_model.pkl
          metrics.json
